
{% extends "base.html" %}
{% load static %}
{% block content %}        
        <div class="main-panel">
          <div class="content-wrapper bg-secondary">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card ">
                  <div class="card-body py-0 px-0 px-sm-3">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                <div class="card bg-secondary">
                  <div class="card-body">
                    <h3 class="card-title text-dark"> Agences que vous gérez </h3>
                    <!-- add search + buttons-->
                    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch bg-secondary text-dark">
                      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                      </button>
                      <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search" method="post">
                             {% csrf_token %}
                            <input type="text" class="form-control form-control-sm w-25 bg-white" name="rech" placeholder="Search Agences">
                          </form>
                        </li>
                      </ul>
                      <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                          <a href="{% url 'agence' %}" class="nav-link btn btn-primary text-white create-new-button">+ Nouvelle Agence</a>
                        </li>
                      </ul>
                    </div>
                    <!-- / -->
        
                    </p>
                    <!-- Affichage liste et fonction-->
                    <div class="table-responsive">
                      <table class="table table- bg-white">
                        <thead>
                          <tr>
                            <th> Id_Agence </th>
                            <th> Nom </th>
                            <th> Numero_impot </th>
                            <th> Numero_fiscal </th>
                            <th> Effectif </th>
                            <th> Revenu </th>
                            <th> Email </th>
                            <th> Active </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if agences %}
                          {% for item in agences %}
                          <tr>
                            <td>{{ item.id_agence }}</td>
                            <td>{{ item.nom }}</td>
                            <td>{{ item.numero_impot }}</td>
                            <td>{{ item.numero_fisc }}</td>
                            <td>{{ item.effectif }}</td>
                            <td>{{ item.revenu }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.active }}</td>
                            <td>
                              <a href="#">
                                <i class="mdi mdi-rename-box text-primary"></i>
                              </a>_
                              <a href="#">
                                <i class="mdi mdi-delete text-danger"></i>
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                          {% endif %}
                          <!-- / -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}