{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="main-panel">
          <div class="content-wrapper bg-secondary">
            <div class="row">
              <div class="col-12 grid-margin stretch-card">
                <div class="card corona-gradient-card ">
                  <div class="card-body py-0 px-0 px-sm-3">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                <div class="card bg-secondary">
                  <div class="card-body">
                    <h3 class="card-title text-dark">Liste des Garanties</h3>
                    <!-- add search + buttons-->
                    <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch bg-secondary text-dark">
                      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                      </button>
                      <ul class="navbar-nav w-100">
                        <li class="nav-item w-100">
                          <form class="nav-link mt-2 mt-md-0 d-none d-lg-flex search">
                            <input type="text" class="form-control form-control-sm w-25 bg-white" placeholder="Search garanties">
                          </form>
                        </li>
                      </ul>
                      <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown d-none d-lg-block">
                          <a class="nav-link btn btn-primary text-white create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Nouvelle Garantie</a>
                        </li>
                      </ul>
                    </div>
                    

                    <p class="card-description"> Add class <code>.table-dark</code>
                    </p>
                    <!-- Affichage liste et fonction-->
                    <div class="table-responsive">
                      <table class="table table- bg-white">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Id_Garantie </th>
                            <th> locataires </th>
                            <th> montant </th>
                            <th> planification </th>
                            <th> date_appartition </th>
                            <th> created_at </th>
                            <th> updated_at </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for ga in garanties %}
                          <tr>
                            <td>{{ ga.id_garantie }}</td>
                            <td>{{ ga.locataires }}</td>
                            <td>{{ ga.montant }}</td>
                            <td>{{ ga.planification }}</td>
                            <td>{{ ga.date_appartition }}</td>
                            <td>{{ ga.created_at }}</td>
                            <td>{{ ga.updated_at }}</td>
                            <td>
                              <a href="#">
                                <i class="mdi mdi-rename-box text-primary"></i>
                              </a>_
                              <a href="#">
                                <i class="mdi mdi-delete text-danger"></i>
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                          <!-- / -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock content %}