{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper bg-secondary">

  <!-- Header -->
  <div class="page-header bg-secondary">
    <h3 class="page-title text-dark bg-secondary">Nouveau personnel</h3>
    <nav aria-label="breadcrumb bg-secondary">
      <ol class="breadcrumb">
        <li class="breadcrumb-item text-dark">
          <a href="#">Forms</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Form elements
        </li>
      </ol>
    </nav>
  </div>

  <!-- Formulaire centré -->
  <div class="row justify-content-center mt-4 mb-5 bg-secondary">
    <div class="col-md-6 grid-margin stretch-card
    ">
      <div class="card bg-white">
        <div class="card-body">
          <h4 class="card-title text-dark">Formulaire du personnel</h4>
            <p class="card-description text-danger">
              Remplissez touts les champs
            </p>
          <form class="forms-sample">
            <div class="form-group">
              <label for="noms">
                Noms
              </label>
              <input type="text"
                     class="form-control bg-secondary text-dark"
                     id="noms"
                     placeholder="Entrez le noms" name="noms">
            </div>
            <div class="form-group">
              <label for="sexe">
                Sexe
              </label>
              <input type="text"
                     class="form-control bg-secondary text-dark"
                     id="sexe"
                     placeholder="Choisir le sexe" name="sexe">
            </div>
            <div class="form-group">
              <label for="role">
                Role
              </label>
              <input type="text"
                     class="form-control bg-secondary text-dark"
                     id="role"
                     placeholder="Quel rôle est attribuer" name="role">
            </div>
            <div class="form-group">
              <label for="status">
                Status
              </label>
              <input type="text"
                     class="form-control bg-secondary text-dark"
                     id="status"
                     placeholder="Entrez le status" name="status">
            </div>
            <div class="form-group">
              <label for="agence">
                Agence
              </label>
              <input type="text"
                     class="form-control bg-secondary text-dark"
                     id="agence"
                     placeholder="Choisir l'agence" name="agence">
            </div>
            <div class="form-group">
              <label for="email">
                Email
              </label>
              <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                        </div>
                        <input type="text"
                     class="form-control bg-secondary text-dark"
                     id="email"
                     placeholder="Entrez l'email" name="email" aria-describedby="basic-addon1" _mstplaceholder="113997" _mstaria-label="113997">
              </div>
            </div>
            <div class="form-check form-check-flat form-check-primary">
              <label class="form-check-label">
                <input type="checkbox"
                       class="form-check-input bg-secondary text-dark">
                Remember me
                <i class="input-helper"></i>
              </label>
            </div>
            <button type="submit" class="btn btn-success mr-2 btn-round">
              Ajouter
            </button>
            <a href="{% url 'personnels' %}" class="btn btn-danger btn-round">
              Annuler
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}