<!-- Modal -->

<div class="modal fade" id="message" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <p class="modal-title" style="font-size: 20px; text-align: center;">MESSAGE DE CONFIRMATION</p>
      </div>
      <div class="modal-body">
         
            <p style="text-align: center;">veux-tu génerer un mot de passe pour cet utilisateur?{{u.id}}</p>
        <div style="text-align:center ;">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Non</button>
        <a href="{% url 'generer_user_motdepasse' t.id %}"> OUI</a>
      </div> 
  
  
    </div>
  </div>
</div>
</div>
